nav.navbar ul {
	list-style-type: none;
}

nav.navbar ul li a {
	display: block;
	text-decoration: none;
	padding: 0.3em 0.5em;
}

#title {
	grid-area: title;
	justify-self: start;
	align-self: center;
}

#login {
	grid-area: login;
	align-self: center;
}

#signup {
	grid-area: signup;
	align-self: center;
}

nav ul {
	display: grid;
	grid-template-columns: auto 1fr 1fr auto auto;
	grid-template-areas: "title . . login signup";
}
