* {
	box-sizing: border-box;
}
body {
	font-family: "Lato", sans-serif;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 40%;
	border-radius: 5px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
	border-radius: 5px 5px 0 0;
}

.container,
#canceAPPErr {
	padding: 2px 16px;
}
#fg {
	float: left;
	width: 100%;
}
.li {
	color: white;
	background: #555555;
}

input[type="text"],
select,
textarea {
	width: 50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
textarea {
	width: 70%;
	height: 100px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical|horizontal;
}
input[type="submit"],
#addmore {
	background-color: #4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	/* float: right; */
}

#msg_badge,
#msg_li {
	cursor: pointer;
}

#view_cn,
.view_cn {
	background-color: red;
	color: white;
	padding: 8px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	/* float: right; */
}

input[type="submit"]:hover {
	background-color: #45a049;
}
.profile {
	/* display: none; */
}
.appointments {
	/* display: none; */
}
.schedule {
	/* display: none; */
}
.pet_signup {
	display: none;
}
#td1 {
	width: 50%;
}
table {
	width: 100%;
}
#schedule_table,
#appointment_table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
#pet_td,
#pet_th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#schedule_tr:nth-child(even) {
	background-color: #dddddd;
}
#schedule_td {
	padding: 8px;
}
#pet_th {
	background-color: #154360;
	height: 40px;
	padding-left: 20px;
	color: white;
	font-weight: bold;
}
.error {
	color: #ff0000;
}

span#sub_button {
	padding-right: 10px;
}
span.semester_date {
	padding: 30px;
	font-weight: bold;
}
#office {
	padding-top: 30px;
}

.up_app,
#hd {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

textarea {
	width: 100%;
	height: 100px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

.open {
	color: green;
}
